<h1>Welcome to the Social Music Network</h1>
<h3> The number one place to share music!</h3>

<%= button_to "Login", '/login', method: :get%>
<%= button_to "Sign Up", '/users/new', method: :get %>
<%= button_to "Login with Facebook", "/auth/facebook" %>