
<h1><%= @user.first_name%></h1> 

<ul>
    <li> Home</li>
    <li> Create a new playlist </li>
    <li> View your playlists </li>
    <li> Add a New Song </li>
    <li> View Songs </li>
    <li> Add a New Artist </li>
    <li> View Artists </li>
    <li> Logout </li>
</ul>


